* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

/* Navbar */
.nav {
    width: 100%;
    height: 70px;
    background-color: orange;
    display: flex;
    justify-content: space-between; /* đẩy 2 dòng code sang 2 bên */
}

.nav-list {
    display: flex;
    align-items: center; /* căn giữa theo trục Y */
    margin: 0 20px;
}

.nav-item {
    padding: 0 15px;
}

/* Search */

.log {
    width: 100%;
    height: 250px;
    background-color: #ccc;
}

.log-box {
    width: 800px;
    margin: 0px auto;
    background-color: white;
    padding: 20px 20px;
}

.form__row {
    padding: 8px 0px;
    display: flex;
}

.form__label {
    min-width: 90px;
}

.form__input {
    flex: 1; /* Cố gắng chiếm hết diện tích có thể */
    min-width: 90px;
}

/* Column layout */

.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    background-color: white;
    display: flex;
    font-size: 22px;
}

.col-item {
    padding: 0 16px;
}

.sidebar-one {
    flex: 1;
}

.sidebar-two {
    flex: 1;
}

.main-col {
    flex: 3;  /* main-col = 3 lần sidebar */
}

/* Feature Layout */

.feature-layout {
    margin: 50px 0px;
    display: flex;
    /* justify-content: space-between; Không có khoảng trống rìa ngoài */
    /* justify-content: space-around; Có khoảng trống rìa ngoài */
    justify-content: space-evenly; /* Có khoảng trống bằng nhau */
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%; /* set main-size */
}

.feature-item:nth-child(1) {
    background-color: yellow;
}

.feature-item:nth-child(2) {
    background-color: blue;
}

.feature-item:nth-child(3) {
    background-color: violet;
}

