html, body {
    margin: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #ccc;
    padding: 20px;
    box-sizing: border-box;
    border: 10px dashed black;
    margin-bottom: 50px;
}

.border-box {
    background-clip: border-box;
}

.padding-box {
    background-clip: padding-box;
}

.content-box {
    background-clip: content-box;
}


/* 
background-clip:
-border box : mặc định
-padding box: đổ từ padding vào
-content box: đổ từ content vào
*/