.box {
    width: 100px;
    height: 100px;
    padding: 16px;
    box-sizing: border-box;
}

.box1 {
    background-color: red;
}

/* 
Box-sizing: border-box => thường sử dụng trong base css, tự động tính toán kích thước element.
- unset: về trạng thái ban đầu.
*/




